@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #6075ee;
    --color-secondary: #3b4996;
    --color-nav: #0c3e78;
}

@layer utilities {
    :root {
        color-scheme: light dark;
    }

    html {
        /* font-family: "Inter", sans-serif; */
        font-family: "DM Sans", sans-serif;
        font-optical-sizing: auto;
        scrollbar-gutter: stable;
    }

    body {
        min-height: 100vh;
        min-height: 100dvh;
        color: white;
    }

    a {
        color: var(--color-cyan-500);
        font-weight: var(--font-weight-bold);

        &:hover {
            text-decoration: underline;
        }
    }

    /* button {
        padding: 6px;
        margin-inline: 5px;
        background-color: var(--color-primary);
        border-radius: 5px;
    } */
}

@view-transition {
    navigation: auto;
}
