@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer utilities {
    :root {
        color-scheme: light dark;
    }

    html {
        font-family: "Inter", sans-serif;
    }

    body {
        height: 100vh;
    }
}

@view-transition {
    navigation: auto;
}
