@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #6075ee;
    --color-secondary: #3b4996;
}

@layer utilities {
    :root {
        color-scheme: light dark;
    }

    html {
        font-family: "Inter", sans-serif;
    }

    body {
        height: 100vh;
    }

    a {
        color: var(--color-cyan-500);
        font-weight: var(--font-weight-bold);

        &:hover {
            text-decoration: underline;
        }
    }

    button {
        padding: 6px;
        margin-inline: 5px;
        background-color: var(--color-primary);
        border-radius: 5px;
    }
}

@view-transition {
    navigation: auto;
}
